# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.idea
.pytest_cache/

# due to using tox and pytest
.tox
.cache
web_app/assets/catchments/*
web_app/assets/reaches/*
web_app/assets/reach_mappings/*
